Checks: "*,
         -llvmlibc-*, 
         -fuchsia-default-arguments-calls,
         -google-readability-namespace-comments,
         -llvm-namespace-comment,
         -modernize-use-trailing-return-type,
         -altera-id-dependent-backward-branch,
         -altera-unroll-loops,
         -readability-identifier-length,
         -abseil-string-find-str-contains
         "
WarningsAsErrors: "*"
HeaderFilterRegex: "(include[\\\/]aoc22)|(inputs.hpp)|(unit_test_helper.hpp)"
