Checks: "*,
         -llvmlibc-*, 
         -fuchsia-default-arguments-calls,
         -google-readability-namespace-comments,
         -llvm-namespace-comment,
         -modernize-use-trailing-return-type,
         -altera-id-dependent-backward-branch,
         -altera-unroll-loops,
         -readability-identifier-length
         "
WarningsAsErrors: "*"
HeaderFilterRegex: "day1.hpp"
