Checks: "*,
         -llvmlibc-*, 
         -fuchsia-default-arguments-calls,
         -google-readability-namespace-comments,
         -llvm-namespace-comment,
         -modernize-use-trailing-return-type,
         -altera-id-dependent-backward-branch,
         -altera-unroll-loops,
         -readability-identifier-length,
         -abseil-string-find-str-contains,
         -altera-struct-pack-align,
         -misc-no-recursion,
         "
CheckOptions: 
  misc-non-private-member-variables-in-classes.IgnorePublicMemberVariables : true
  readability-identifier-naming.NamespaceCase: lower_case 
  readability-identifier-naming.ClassCase: CamelCase  
  readability-identifier-naming.PrivateMemberPrefix: m_         
  readability-identifier-naming.StructCase: CamelCase  
  readability-identifier-naming.FunctionCase: lower_case 
  readability-identifier-naming.VariableCase: lower_case 
  readability-identifier-naming.GlobalConstantCase: UPPER_CASE 

WarningsAsErrors: "*"
HeaderFilterRegex: "(include[\\\/]aoc22)|(inputs.hpp)|(unit_test_helper.hpp)"
