[submodule "tests/Catch2"]
	path = tests/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "tests/fuzztest"]
	path = tests/fuzztest
	url = https://github.com/google/fuzztest.git
[submodule "tests/inputs"]
	path = tests/inputs
	url = https://github.com/selassje/aoc_inputs.git